@using Themenschaedel.Shared.Models
@using System.ComponentModel.DataAnnotations
<div class="topic-view-card container">
    <div class="topic-view-card-title item-big-space">
        <p>@topic.Name</p>
    </div>
    <div class="topic-view-card-times item">
        <p>@topic.Duration</p>
    </div>
    <div class="item">
        Ad: @(topic.Ad ? "Ja" : "Nein")
        <br/>
        Community Thema: @(topic.Ad ? "Ja" : "Nein")
    </div>
    <div class="item-small-space">
        <h4>Subtopics:</h4>
    </div>
    <div class="item">
        @for (int i = 0; i < topic.Subtopic.Count; i++)
        {
            @topic.Subtopic[i].Name
            if (i + 1 != i)
            {
                <br/>
            }
        }
    </div>
    <div class="item playbutton">
        <i class="iconly-Play icbo button" alt="Play button"></i>
    </div>
</div>

@code {

    [Parameter]
    [Required]
    public TopicExtended topic { get; set; }

    [Parameter]
    public int startOfNextTopic { get; set; }


}